<%= form_with(model: visit, local: true) do |form| %>
  <% if visit.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(visit.errors.count, "ошибка") %> не позволяет сохранить посещение:</h4>

      <ul class="mb-0">
        <% visit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card mb-3">
    <div class="card-body">
      <div class="form-group">
        <%= form.label :patient_id, "Пациент" %>
        <%= form.collection_select :patient_id, Patient.all, :id, :full_name, { prompt: "Выберите пациента" }, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= form.label :doctor_id, "Врач" %>
        <%= form.collection_select :doctor_id, Doctor.all, :id, :full_name, { prompt: "Выберите доктора" }, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= form.label :room_id, "Кабинет" %>
        <%= form.collection_select :room_id, Room.all, :id, :room_number, { prompt: "Выберите кабинет" }, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= form.label :visit_date, "Дата посещения" %>
        <%= form.date_select :visit_date, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= form.label :visit_time, "Время посещения" %>
        <%= form.time_select :visit_time, { class: "form-control" } %>
      </div>

      <div class="form-group form-check">
        <%= form.label :attended, class: "form-check-label" do %>
          <%= form.check_box :attended, class: "form-check-input" %>
          <p> Посещено </p>
        <% end %>
      </div>
      <div class="form-group">
        <%= form.submit "Сохранить", class: "btn btn-primary rounded-pill mx-2" %>
      </div>
    </div>
  </div>
<% end %>