<div id="<%= dom_id visit %>">
  <p>Patient name: <%= visit.patient.full_name %></p>
  <p>Doctor: <%= visit.doctor.full_name %></p>
  <p>Visit date: <%= visit.visit_date %></p>
  <p>Visit time: <%= visit.visit_time %></p>
  <p>Room number: <%= visit.room.room_number %></p>
  <p>Attended: <%= visit.attended %></p>
</div>

